# Application config
TOKEN=...
CLIENT_ID=...
GUILD_IDS=...,... 

# Database config
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=


# Scheduling config
ANNOUNCE_GUILD_ID=...
ANNOUNCE_CHANNEL_ID=...
EVENT_GUILD_ID=...

# Thread detector config
THREAD_GUILD_ID=...
THREAD_CHANNEL_ID=...
RAKMATY_ID=...
