# Application config
TOKEN=...
CLIENT_ID=...
GUILD_IDS=...,... 

# Database config
DATABASE_NAME=...
DATABASE_USERNAME=...
DATABASE_PASSWORD=...
DATABASE_HOST=...

# Scheduling config
ANNOUNCE_GUILD_ID=...
ANNOUNCE_CHANNEL_ID=...
EVENT_GUILD_ID=...

# Thread detector config
RAKMATY_ID=...

# Welcome guild config
WELCOME_GUILD_ID=...

# Logging config
LOG_GUILD_ID=...
LOG_CHANNEL_ID=...

# Thread locker config
THREAD_GUILD_ID=...
THREAD_CHANNEL_ID=...
THREAD_ROLE_ID=...

