# Application config
TOKEN=...
MYSQL_URI=...
CLIENT_ID=...
GUILD_IDS=...,... 

# Scheduling config
ANNOUNCE_GUILD_ID=...
ANNOUNCE_CHANNEL_ID=...
EVENT_GUILD_ID=...

# Thread detector config
THREAD_GUILD_ID=...
THREAD_CHANNEL_ID=...
RAKMATY_ID=...
